// Setup global logger
logger

// Setup the router (offset is needed because of the fixed menu)
router(offset="50")

- var gh_addr = "https://github.com/ceremcem/chibios-configurator"

.ui.fixed.inverted.menu
    a.inverted.green.item(href="#/") Home 

    .right.item
        +with('appVersion')
            a(href=`${gh_addr}/tree/{{.commit}}`) {{ .commit }} ({{.count}}) {{#if .dirty}}<b>Dirty</b>{{/if}}

scene(name="NOTFOUND")
    .ui.message.red 
        .content.
            No such page can be found. 
            No one created #[b {{@shared.router.scene}}] scene yet.

scene(default public)
    include ./analog-config.pug