extends ../../scada.js/templates/template.pug

block head-append 
    //script(src="https://www.w3counter.com/tracker.js?id=112917")
    script#vendor(src="js/vendor2.js")
    link(rel="stylesheet", href="css/vendor2.css")

block title
    title ChibiOS Configurator
