+if('newSetting.peripheral')
    +with('newSetting.peripheral.type as type')
        +iff('type === "din"')
            dropdown(
                data="{{peripheralConfigs.din}}"
                selected-key="{{newSetting.config.mode}}")
        +elif('type === "dout"')
            dropdown(
                data="{{peripheralConfigs.dout}}"
                selected-key="{{newSetting.config.mode}}")
        +endif
        