.ui.container
    h3.ui.top.attached.header STM Configuration
    .ui.bottom.attached.segment 
        .ui.stackable.grid
            .row
                .column
                    ack-button(on-click="lsMcu") Get Available MCU's
                    dropdown(
                        simple-data="{{mcuList}}" 
                        selected-key="{{selected.mcu}}"
                        on-select="subFamilySelected")

                    .ui.tag.label.mini ({{mcuList.length}})

            .row
                .column
                    btn.green.mini(on-click="refreshSelected"): i.icon.refresh
                    debug-obj(title="selected.pins" obj="{{selected.pins}}" public)

            .row
                .column 
                    h3 Pinout for #[b {{selected.mcu || selected.unavailable}}]
                    //debug-obj(obj="{{selected.datasheet}}" public)

                    a(href="#assign-peripheral") Assign Peripheral ->
                    include ./pinout-table.pug
                                
            .row 
                anchor assign-peripheral
                .eight.wide.column
                    h3 Peripheral assignment by Pin
                    .ui.form
                        .field
                            .ui.label.green {{newSetting.pin || selected.unavailable}}
                            +iff('configuration[selected.mcu][newSetting.pin] \
                                && ! overrideAllowed')
                                //- this pin is already configured, confirm to override
                                .field
                                    btn.orange(on-click="@.set('overrideAllowed', true)") Edit
                            +else
                                include ./peripheral-config.pug
                            +endif

                        .field
                            label Download Hardware Definition 
                            ack-button.green(on-click="downloadHardware") Download
                .eight.wide.column
                    .ui.form 
                        .field 
                            label Configuration
                            json-edit(value="{{configuration}}" style="min-height: 400px")

    .spacer